/* 2X Laptop */
@media screen and (max-width: 1536px) {
}

/* X Laptop */
@media screen and (max-width: 1280px) {
    
    }

    
    /* Tablet */
@media screen and (max-width: 768px) {
    .page-right{
        display: none;
    }

    body {
        padding-bottom: 52px;
      }

      .container {
        width: 100%;
      }


}